.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f8f8;

  &__header {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    img {
      width: 100px;
    }
  }

  &__form {
    width: 100%;
    max-width: 450px;
    border: 1px solid #ccc;
    padding: 36px 24px;
    border-radius: 15px;

    form {
      display: flex;
      flex-direction: column;
      gap: 24px;

      button {
        margin: 0 auto;
      }
    }
  }

  &__link {
    display: block;
    margin-top: 12px;
    text-align: center;
    font-size: 12px;
    color: #5a5a5a;
  }

  @media (max-width: 524px) {
    &__form {
      margin: 0 12px;
    }
  }
}
