.button {
  border: 1px solid #ff7700;
  background-color: inherit;
  color: #ff7700;
  padding: 8px 16px;
  border-radius: 8px;
  width: fit-content;
  text-transform: uppercase;
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }
}
