@use "../../styles/config" as *;

.profile-page {
  padding-top: 0 !important;
  &__header {
    background: linear-gradient(to right, $orange, $light);
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    height: 180px;
    position: relative;
    margin-bottom: 65px;
    position: relative;

    .profile-image {
      border-radius: 50%;
      position: absolute;
      height: 160px;
      width: 160px;
      object-fit: cover;
      left: 64px;
      bottom: -65px;
      border: 4px solid $dark;
      background-color: $gray;
    }

    .user-role {
      font-size: 22px;
      display: flex;
      gap: 6px;
      align-items: center;
      color: $dark;
      justify-content: flex-end;
      position: absolute;
      right: 64px;
      bottom: 20px;
      font-weight: 500;

      &__icon {
        color: $orange;
      }
    }
    .mobile-logout {
      display: none;
      color: $blue;
      position: absolute;
      right: 32px;
      top: 74px;
      font-size: 20px;
      cursor: pointer;
    }
  }

  &__description {
    padding: 12px 64px;
    display: flex;
    justify-content: space-between;
    gap: 12px;

    .user {
      &-info {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      &name {
        color: $light;
        font-size: 52px;
      }

      &-description {
        font-size: 24px;
        color: $orange;
      }

      &-phone {
        font-size: 24px;
        color: $orange;
      }

      &-achievements {
        flex: 1;
        display: grid;
        grid-template-areas: "a b" "a c";
        gap: 6px;
        align-items: stretch;
        justify-items: stretch;
        justify-content: stretch;
        align-content: stretch;

        .item {
          border-radius: 12px;
          background-color: $light;
          color: $dark;
          display: flex;
          flex-direction: column;
          gap: 6px;
          justify-content: center;
          align-items: center;
          font-weight: 500;
        }

        .points {
          grid-area: a;
          background-color: $orange;
          color: $light;
        }

        .themes {
          grid-area: b;
          background: linear-gradient(to right, $orange, $light);
        }

        .tests {
          grid-area: c;
          background: linear-gradient(to right, $orange, $light);
        }
      }
    }
    .other {
      padding-top: 12px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 300px;

      &-title {
        font-size: 22px;
        align-items: center;
        color: $light;
        text-align: right;
      }
    }
  }

  .last-course {
    padding: 12px 64px;

    &__title {
      margin-bottom: 12px;
      color: $light;
    }

    .course-card {
      display: flex;
      height: 220px;

      .course-image {
        height: 100%;
        width: 45%;
      }

      .course-description {
        height: 100%;
        p {
          -webkit-line-clamp: 4;
          flex: 1;
        }
      }
    }
  }

  .edit-profile__form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__buttons {
      display: flex;
      gap: 12px;
    }
  }

  @media (max-width: 920px) {
    .profile-image {
      width: 120px;
      height: 120px;
      left: 32px;
      bottom: -45px;
    }

    .user-role {
      font-size: 18px;
      right: 32px;
      bottom: 12px;
    }

    &__description {
      padding: 12px 32px;

      .user {
        &name {
          font-size: 36px;
        }

        &-description {
          font-size: 20px;
        }

        &-phone {
          font-size: 18px;
        }

        .button {
          font-size: 12px;
        }
      }
    }

    .last-course {
      padding: 12px 32px;
    }
  }

  @media (max-width: 764px) {
    .mobile-logout {
      display: block;
    }
  }

  @media (max-width: 540px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-radius: 0;

    &__header {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .user-role {
      font-size: 16px;
      right: 24px;
      bottom: 8px;
    }

    .mobile-logout {
      right: 24px;
    }

    .profile-image {
      left: 24px;
    }

    &__description {
      flex-direction: column;
      padding: 12px 24px;

      .other {
        width: 100%;
        height: 200px;
      }
    }

    .last-course {
      padding: 12px 24px;

      .course-card {
        display: block;
        height: fit-content;

        .course-image {
          width: 100%;
          height: 150px;
        }

        .course-description {
          height: 100%;
          p {
            -webkit-line-clamp: 4;
            flex: 1;
          }
        }
      }
    }
  }
}
