@use "config";

@use "../components/header/header";
@use "../components/footer/footer";
@use "../components/inputWrapper/inputWrapper";
@use "../components/button/button";

@use "../pages/login/login";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}
