@use "config" as *;

@use "../components/header/header";
@use "../components/footer/footer";
@use "../components/inputWrapper/inputWrapper";
@use "../components/authFormWrapper/authFormWrapper";
@use "../components/button/button";
@use "../components/courseCard/courseCard";
@use "../components/searchCourse/searchCourse";
@use "../components/themeItem/themeItem";
@use "../components/comments/comments";
@use "../components/modal/modal";
@use "../components/customCheckbox/customCheckbox";
@use "../components/changeCourse/changeCourse";


@use "../pages/signin/signin";
@use "../pages/homePage/homePage";
@use "../pages/courses/courses";
@use "../pages/course/course";
@use "../pages/leaderBoard/leaderBoard";
@use "../pages/events/events";
@use "../pages/profile/profile";
@use "../pages/lesson/lesson";
@use "../pages/admin/admin";
@use "../pages/test/test";
@use "../pages/certificate/certificate";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}

.base-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  background-color: $dark;

  main {
    flex: 1;
  }
}

.page-container {
  padding: 60px 100px;
}

.input {
  padding: 12px 24px;
  outline: none;
  border-radius: 6px;
  border: none;
  width: 100%;
  color: $gray;
}

@media (max-width: 1024px) {
  .page-container {
    padding: 60px 48px;
  }
}

@media (max-width: 764px) {
  .page-container {
    padding: 76px 24px;
  }
}
