@use "../../styles/config" as *;

.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $dark;

  &__header {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    img {
      width: 100px;
    }
  }

  &__form {
    width: 100%;
    max-width: 450px;
    padding: 36px 24px;
    border-radius: 30px;
    background-color: $light;
    box-shadow: 0 0 20px -9px $orange;

    form {
      display: flex;
      flex-direction: column;
      gap: 24px;

      button {
        margin: 0 auto;
      }
    }
  }

  &__link {
    display: block;
    margin-top: 12px;
    text-align: center;
    font-size: 12px;
    color: $dark;

    &:hover {
      span {
        text-decoration: underline;
      }
    }

    span {
      color: $orange;
    }
  }

  &__error {
    color: $red;
    font-size: 14px;
    text-align: center;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  @media (max-width: 524px) {
    align-items: flex-end;

    &__form {
      padding-top: 124px;
      max-width: 100%;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      height: 80vh;
    }
  }
}
