@use "../../styles/config" as *;

.main-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  color: $light;
  background-color: $gray;
  padding: 12px 100px;
  font-size: 18px;

  .logo {
    justify-self: start;
    a {
      display: flex;
      gap: 14px;
      align-items: center;
    }

    .page-name {
      display: none;
    }
    img {
      width: 40px;
    }
  }

  .menu {
    justify-self: center;
    &-items {
      display: flex;
      list-style: none;
      gap: 24px;
    }

    &-item {
      &.is--active {
        color: $orange;
      }
      a {
        transition: color 0.2s ease-in-out;

        &:hover {
          color: $orange;
        }
      }
    }
  }

  .mobile-menu {
    display: none;
  }

  .authorization {
    justify-self: end;

    .auth {
      display: flex;
      align-items: center;
      gap: 12px;

      a {
        &.is--active {
          color: $orange;
        }
        transition: color 0.2s ease-in-out;

        &:hover {
          color: $orange;
        }
      }

      .logout {
        display: flex;
        align-items: center;
        font-size: 20px;
        color: $orange;
        cursor: pointer;

        &:hover {
          color: $light;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    padding: 12px 48px;
    .logo {
      &-text {
        display: none;
      }
    }

    .menu {
      &-items {
        gap: 18px;
      }
    }
  }

  @media (max-width: 764px) {
    display: block;
    padding: 12px 24px;
    position: fixed;
    width: 100%;
    z-index: 100;
    left: 0;
    top: 0;
    .logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .page-name {
        display: block;
      }
    }
    .menu,
    .authorization {
      display: none;
    }

    .mobile-menu {
      display: block;
      position: fixed;
      z-index: 100;
      bottom: 0;
      left: 0;
      background-color: $gray;
      width: 100%;
      padding: 12px 24px;

      .menu-items {
        justify-content: space-between;
        font-size: 24px;
      }
    }
  }

  @media (max-width: 540px) {
    .mobile-menu {
      .menu-items {
        font-size: 20px;
      }
    }
  }
}
