.input-field {
  position: relative;

  &__icon {
    position: absolute;
    top: 12px;
    left: 12px;
    color: #787878;
  }

  &__inner input {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 12px 14px 12px 36px;
    border-radius: 8px;
  }
}
