@use "../../styles/config" as *;

.main-footer {
  background-color: $gray;
  color: $light;
  padding: 12px 100px;

  .document-link {
    text-decoration: underline;
    font-size: 12px;
  }
  @media (max-width: 764px) {
    display: none;
  }
}
