@use "../../styles/config" as *;

.course-page {
  .course-header {
    background-color: $orange;
    border-radius: 18px;
    padding: 32px;
    color: $dark;

    h1 {
      color: $light;
      margin-bottom: 12px;
    }

    .course-description {
      max-width: 800px;

      h2 {
        margin-bottom: 12px;
      }

      p {
        color: $gray;
        font-size: 18px;
      }

      .certificate-btn {
        margin-bottom: 12px;
      }
    }
  }

  .course-themes {
    padding: 32px 0;

    &__title {
      color: $light;
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 32px 0;
    }
  }

  .course-tests__list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .tests-title {
      color: $light;
    }

    .test-item {
      background-color: $light;
      padding: 18px 14px;
      border-radius: 14px;
      cursor: pointer;
      transition: transform 0.3s ease-in;
      position: relative;
      font-size: 18px;
      color: $dark;

      display: flex;
      justify-content: space-between;
      font-weight: 500;

      &.is--active {
        background-color: $orange;
        color: white;
      }

      &:hover {
        transform: scale(1.02);
      }
    }
  }
}
