@use "../../styles/config" as *;

.home-page {
  text-align: center;
  padding: 120px 0;

  img {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  a {
    display: inline-block;
    color: #fff;
    padding: 12px 24px;
    border-radius: 12px;
    background-color: $orange;
    margin: 12px 0;

  }
}
