@use "../../styles/config" as *;

.courses-page {
  .courses-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 20px;
    padding: 20px;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 0;
  }

  @media (max-width: 1024px) {
    .courses-list {
      grid-template-columns: repeat(auto-fit, 270px);
      padding: 20px 0;
    }
  }

  @media (max-width: 764px) {
    .courses-list {
      grid-template-columns: 1fr;
      // padding: 20px 0;
    }
  }
}
